.header {
  background-image: linear-gradient(#f63e2e, #fe6332);
  height: 120px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin-top: 8px;
  padding-left: 0;
  align-content: center;
}
.header__nav-item {
  display: inline-block;
  margin: 0 8px;
  font-size: 1.4rem;
  position: relative;
}
.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
  text-decoration: none;
  color: #fff;
}
.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
  display: inline-flex;
}
.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__nav-item:hover .header__qr {
  display: block;
}
.header__nav-item--strong {
  font-weight: 400;
}
.header__nav-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 1.6rem;
  background-color: #f86a5c;
  top: 0;
  right: -10px;
}
.header__nav-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__nav-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* Header QR code */
.header__qr {
  display: none;
  position: absolute;
  width: 190px;
  background-color: var(--white-color);
  top: 150%;
  left: 0;
  border-radius: 2px;
  animation: fadeIn ease-in 0.3s;
}
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 100%;
  top: -10px;
  left: 0;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.header__qr-code-img {
  width: 100%;
  border-radius: 2px;
}
.header__qr-download-img {
  height: 18px;
}
.header__qr-link {
  line-height: 1.8;
}
