.header {
  background-image: linear-gradient(#f63e2e, #fe6332);
  height: var(--header-height);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: var(--header-nav-height);
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding-left: 0;
  align-content: center;
}
.header__nav-item {
  display: inline-block;
  margin: 0 8px;
  font-size: 1.4rem;
  position: relative;
}
.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
  text-decoration: none;
  color: #fff;
}
.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
  display: inline-flex;
}
.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__nav-item-has-qr:hover .header__qr {
  display: block;
}
.header__nav-item--has-notify:hover .header__notify {
  display: block;
}
.header__nav-item--strong {
  font-weight: 400;
}
.header__nav-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 1.6rem;
  background-color: #f86a5c;
  top: 0;
  right: -10px;
}
.header__nav-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__nav-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* Header QR code */
.header__qr {
  display: none;
  position: absolute;
  width: 190px;
  background-color: var(--white-color);
  top: 150%;
  left: 0;
  border-radius: 2px;
  animation: fadeIn ease-in 0.3s;
  will-change: transform;
  z-index: 999;
}
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 100%;
  top: -10px;
  left: 0;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.header__qr-code-img {
  width: 100%;
  border-radius: 2px;
}
.header__qr-download-img {
  height: 18px;
}
.header__qr-link {
  line-height: 1.8;
}
/* Header Notify */
.header__notify {
  position: absolute;
  display: none;
  top: 150%;
  right: 0;
  background-color: var(--white-color);
  width: 400px;
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: transform, opacity;
  z-index: 999;
}
.header__notify::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: 0;
  height: 20px;
  width: 100%;
}
@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.header__notify-header {
  color: #999;
  margin-left: 12px;
}
.header__notify-header h3 {
  font-size: 1.4rem;
  font-weight: 400;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
  list-style: none;
}

.header__notify-item {
  background-color: rgba(238, 75, 43, 0.09);
}
.header__notify-item--viewed {
  background-color: var(--white-color);
}
.header__notify-item:hover,
.header__notify-link:hover {
  background-color: #f4f0f0;
}

.header__notify-link {
  display: flex;
  text-decoration: none;
  padding: 12px;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 6px;
}

.header__notify-name {
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.header__notify-description {
  display: block;
  color: #756f6e;
  font-size: 1.2rem;
  line-height: 1;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
/* Form authenticate */
#modal__auth {
  display: none;
}
#form__login {
  display: none;
}
.auth__form {
  width: 400px;
  background-color: var(--white-color);
  border-radius: 2px;
}

.auth__form-container {
  padding: 32px;
}

.auth__form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth__form-heading {
  font-size: 20px;
  font-weight: 400;
  padding-left: 12px;
}
.auth_form-switch-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  color: var(--primary-color);
}
.auth__form-form {
}

.auth__form-group {
  margin-top: 16px;
}

.auth__form-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: none;
}
.auth__form-input:focus {
  border-color: #999;
}
.auth__form-aside {
  margin-top: 32px;
}
.auth__form-aside-text {
  text-align: center;
  font-size: 1.2rem;
}
.auth__form-aside-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth__form-controls {
  margin-top: 88px;
  display: flex;
  justify-content: flex-end;
}

.auth__form-socials {
  background-color: #999;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
}
.auth__form-socials-link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px 0 8px 8px;
  border-radius: 2px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--white-color);
}
.auth__form-socials-link i {
  font-size: 1.6rem;
}
.auth__form-socials-facebook {
  background-color: #2d83f3;
  color: var(--white-color);
}
.auth__form-social-text {
  padding: 0 18px;
}
.auth__form-help {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}
.auth__form-help-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
}
.auth__form-help-forgot {
  color: var(--primary-color);
}
.auth__form-hep--separate {
  border: 1px solid #eaeaea;
  height: 22px;
  margin: -3px 16px 0;
}
.auth__form-social-login {
  padding: 0 8px;
}
/* Header Search */
.header-with-search {
  display: flex;
  align-items: center;
  height: calc(var(--header-height) - var(--header-nav-height));
}
.header__logo {
  padding-left: 2px;
  width: 200px;
}
.header__logo-icon {
  height: 46px;
  width: 148px;
}
.header__search {
  flex: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  height: 40px;
}
.header__search-wrap {
  position: relative;
  flex: 1;
}
.header__search-input {
  border: none;
  border-radius: 2px;
  outline: none;
  color: var(--text-color);
  font-size: 1.4rem;
  margin-left: 16px;
  height: 100%;
  width: 100%;
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 0 5px #d5d5d5;
  /* display: none; */
}
.header__search-history-heading {
  font-size: 1.4rem;
  font-weight: 300;
  color: #d5d5d5;
  margin: 8px 0 8px 12px;
}

.header__search-history-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header__search-history-item {
  padding: 4px 0 4px 12px;
  height: 36px;
  display: flex;
  align-items: center;
}
.header__search-history-link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header__search-history-item:hover,
.header__search-history-link:hover {
  background-color: #f5f1f1;
}
.header__search-selection {
  position: relative;
  margin: 8px 0;
  padding: 0 8px 0 16px;
  border-left: 1px solid #e9e0e0;
  max-width: 130px;
  display: flex;
  align-items: center;
}
.header__search-selection > i {
  font-size: 1.4rem;
  margin-left: 16px;
  color: var(--text-color);
}
.header__search-selection:hover .header__search-option {
  display: block;
}

.header__search-lable {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-option {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: calc(100% + 16px);
  list-style-type: none;
  padding-left: 0;
  border-radius: 2px;
  background-color: var(--white-color);
  box-shadow: 0 2px #e1e1e1;
}
.header__search-option::before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  top: -10px;
  right: 0;
}

.header__search-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px 10px 16px;
  line-height: 2;
}
.header__search-item:hover {
  opacity: 0.9;
}
.header__search-item :first-child {
  border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-item :last-child {
  border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__search-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-item i {
  display: none;
  font-size: 1.4rem;
  color: var(--primary-color);
}
.header__search-item--actived i {
  display: inline-block;
}
.header__search-icon {
  background-color: var(--primary-color);
  margin: 3px 3px 3px 0;
  width: 60px;
  border-radius: 2px;
  display: flex;
}
.header__search-icon > svg {
  margin: auto;
}
.header__search-icon:hover {
  background-color: #fb6445;
  cursor: pointer;
}
.header__cart {
  width: 152px;
  text-align: center;
}
.header__cart-icon {
  position: relative;
  font-size: 2.4rem;
  color: var(--white-color);
  top: 8px;
}
